{% extends 'base.html' %}
{% load thumbnail %}

{% block current_item2 %}class="current-menu-item" {% endblock %}
{% block head_title %}{{ 'Stezky' }}{% endblock %}
{% block meta_desc %} 'Zde naleznete seznam všech turistických stezek, o které se SOVa stará.' {% endblock %}

{% block content %}

<!-- Filter container -->
<ul id="filter-container" class="feature cf">
    {% if ways %}
    {% for way in ways %}
    <li class="">
        <a href="/ways/view/{{way.slug}}" class="thumb"><img src="{{way.pic1|thumbnail_url:"portf" }}" alt="Thumbnail"/>

            <div class="date"><span class="d">{{way.length}}</span><span class="m">km</span></div>
        </a>

        <h5 class="caption_w">
            {{way.title}}
<!--            <font class="infos_w">Délka: {{ way.length }} km</font> -->
        </h5>
    </li>
    {% endfor %}
    {% else %}
    <p>There are no ways</p>
    {% endif %}


</ul>
<!-- ENDS Filter container -->

{% endblock %}
