{% extends 'base.html' %}
{% load thumbnail %}
{% block current_item3 %}class="current-menu-item" {% endblock %}
{% block head_title %}{{ post.title }}{% endblock %}
{% block content %}


<!-- posts list -->
<div id="posts-list" class="cf">

    <article>
        <div class="feature-image">
            {% ifnotequal post.pic "" %}
<!--            <a href="/blog/view/{{post.slug}}"><img src="{{ post.pic|thumbnail_url:"post" }}" alt="Thumbnail"/></a> -->
            <a href="{{ post.pic.url  }}"><img src="{{ post.pic|thumbnail_url:"blogpost" }}" alt="Thumbnail"/></a> 
            {% else %}
            <a href="/blog/view/{{post.slug}}"><img src="{{ STATIC_URL }}central/img/dummies/sova_blog_put1.png" alt="Thumbnail" /></a>
            {% endifnotequal %}


            <div class="entry-date">
                <div class="month">{{ post.posted|date:"N" }}</div>
                <div class="number">{{post.posted.day}}</div>
            </div>
        </div>
        <div class="excerpt">
            <a href="/blog/view/{{post.slug}}" class="post-heading">{{post.title}}</a>

            <p>
                {{ post.body|safe }}
            </p>

            <p>

            </p>
        </div>
        <div class="excerpt">

            <!-- SLIDER -->
            {% if pics%}
            <h2>Foto</h2>
            <div class="slider-wrapper theme-default">
                <div class="ribbon"></div>
                <div id="slider-project" class="nivoSlider">
                    {% for pic, desc in pics %}
                    {% if desc != "" %}
                    <a href="{{ pic.url }}">
                        <img src="{{ pic|thumbnail_url:'nivoSlider' }}" title="{{ desc }}"/>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- ENDS SLIDER -->
        </div>
        <div class="meta">
						<span class="user">Autor: MUDr. Hana Hnykova, </span>
                        <span class="comments"> {{ post.posted }}</span>
					</div>
        <i class="tape"></i>
    </article>

<!--START DISQUS THREAD -->
<!-- Nedari se mi ho dat do vlastniho divu tak, aby se zobrazoval bocni obrazek-->
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'sovazlutice'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<!-- ENDS  DISQUS THREAD -->

<!-- ENDS posts list -->


<!-- sidebar -->
<aside id="sidebar">
<img src="{{STATIC_URL}}central/img/works/vily.png" alt="Thumbnail"></a>
</aside>
<!-- ENDS sidebar -->


{% endblock %}
